html {
  user-select: none;
}

header {
  user-select: none;
  margin: 20px;
  font-size: 20px;
  margin-bottom: 35px;
}

header #stage {
  margin-right: 30px;
}

#tabs>* {
  user-select: none;
  margin-left: 8px;
  margin-right: 8px;
}

#tabs>#tab_dorm {
  display: inherit;
  text-decoration: underline;
}

#event,
#advancement {
  border-color: black;
  border-style: solid;
  padding: 8px;
  margin-left: 30px;
}

#dorm,
#campus,
#thesis {
  margin-top: 20px;
  padding-left: 30px;
}

#dorm>*,
#campus>*,
#thesis>* {
  float: left;
  padding: 10px;
}

#log_wrapper {
  width: 150px;
}

#adjust_and_weapon,
#campus_prepare_wrapper {
  width: 220px;
}

#data_wrapper,
#backpack_wrapper {
  width: 200px;
}

#log_hidder {
  position: absolute;
  top: 80px;
  left: 30px;
  min-height: calc(100% - 80px);
  width: 170px;
  z-index: 1;
  background: linear-gradient(rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1));
}

div#adjust,
#campus_adjust_box {
  border-style: solid;
  padding: 5px;
}

table#adjust,
#campus_adjust {
  border-style: none;
  padding: 5px;
  width: 100%;
}

table#adjust td,
#campus_adjust td {
  text-align: right;
  padding-left: 3px;
  padding-right: 3px;
}

table#adjust td.subject,
#campus_adjust td.item {
  text-align: left;
}

#weapon {
  display: block;
  margin-right: 10px;
  margin-top: 10px;
}

#weapon>* {
  float: left;
  width: 45%;
}

#produce_weapon {
  margin-right: 5%;
}

#study_weapon {
  margin-left: 5%;
}

.active_box {
  border-style: solid;
  padding: 10px;
  width: 80px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.active_box:hover {
  text-decoration: underline;
}

.inactive_box {
  border-style: solid;
  padding: 10px;
  width: 80px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: grey;
}

#data,
#backpack {
  border-style: solid;
  padding: 10px;
}

#data>table,
#backpack>table {
  width: 100%;
}

td.value {
  text-align: right;
}

#mouse_box {
  border-style: solid;
  padding: 3px;
  position: absolute;
  background-color: white;
  z-index: 1;
  display: none;
}

.option_box {
  border-style: solid;
  padding: 5px;
  width: 60px;
  text-align: center;
  margin-top: 5px;
  margin-right: 80px;
  margin-bottom: 5px;
  float: right;
}

.option_box:hover {
  text-decoration: underline;
}

#event_text {
  margin-top: 20px;
  margin-bottom: 20px;
}

#event_box {
  display: none;
  position: fixed;
  border-style: solid;
  top: 25%;
  left: 25%;
  width: 400px;
  height: 120px;
  z-index: 99;
  background-color: white;
  border-radius: 5px;
}

#dark_filter {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

#achievement_box {
  position: fixed;
  right: 0%;
  top: 5%;
  border-top: solid;
  border-bottom: solid;
  border-left: solid;
  z-index: 100;
  display: none;
  animation-name: popout;
  animation-duration: 3s;
}

@keyframes popout {
  from {
    width: 100px;
    height: 80px;
  }

  to {
    width: 250px;
    height: 80px;
  }
}

#achievement_text {
  font-size: 20px;
  margin-top: 5px;
  margin-left: 10px;
}

#reach_achievement {
  margin-top: 7px;
  margin-left: 10px;
}

/* DOM 元素的掩盖，避免在 JS 未加载完毕时剧透剧情 */
#data tr:not(.math_value),
#phys_inc,
#chem_inc,
#campus_adjust tr:not(#sense_of_direction):not(#velocity),
#backpack tr:not(#sense_of_direction_left) {
  display: none;
}

footer {
  position: absolute;
  height: 50px;
  width: 100%;
  left: 0px;
  top: calc(100% - 50px);
}

#footer_content,
#github_link,
#manually_save {
  display: block;
  float: right;
  margin-right: 30px;
}

#manually_save {
  text-decoration: underline;
}

#manually_save:hover {
  cursor: pointer;
}

#manually_save.saved {
  text-decoration: none;
  cursor: default;
}

#github_link {
  text-decoration: underline;
}

#github_link a {
  color: black;
}

#backpack_wrapper {
  display: none;
}

#campus_map {
  display: none;
  color: grey;
  font-family: 'Cascadia Code';
  font-size: 12px;
  letter-spacing: 4px;
  line-height: 11px;
}

.building,
.wall,
.me {
  color: black;
}

#teachers_wrapper {
  width: 350px;
}

#math_teacher_wrapper,
#phys_teacher_wrapper,
#chem_teacher_wrapper {
  border: solid;
  width: 300px;
  height: 90px;
  margin-bottom: 20px;
  display: none;
}

#math_teacher,
#phys_teacher,
#chem_teacher {
  padding-left: 10px;
  margin: 10px;
}

#math_defense,
#math_checking,
#math_writethesis,
#math_joingroup,
#phys_defense,
#phys_checking,
#phys_writethesis,
#phys_joingroup,
#chem_defense,
#chem_checking,
#chem_writethesis,
#chem_joingroup {
  position: initial;
  border-style: solid;
  width: auto;
  text-align: center;
  margin-top: 5px;
  margin-left: 20px;
  float: left;
  display: none;
}

#campus_event,
#combat {
  border-style: solid;
  display: none;
  top: 120px;
  left: 500px;
  position: fixed;
  z-index: 99;
  background-color: white;
}

#campus_event_title,
#combat_title {
  font-weight: bold;
}

#campus_event_button {
  width: 55px;
  padding: 3px;
  float: right;
}

#combat,
#campus_event {
  width: 200px;
}

#combat_me_dodge,
#combat_foe_dodge {
  color: white;
  transition-property: color;
  transition-duration: 0.2s;
}

#combat_foe_hp,
#combat_foe_dodge,
#combat_foe {
  float: right;
}

.combat_my_attack,
#combat_foe_attack {
  position: absolute;
  display: none;
  transition-property: left;
  transition-duration: 0.5s;
}

.combat_my_attack {
  left: 20px;
}

#combat_foe_attack {
  left: calc(100% - 25px);
}

.my_moving_attack {
  display: inline;
  left: calc(100% - 20px);
}

#combat_foe_attack.foe_moving_attack {
  display: inline;
  left: 15px;
}

#combat_me_dodge.dodging,
#combat_foe_dodge.dodging {
  color: black;
}

.combat_row {
  height: 44px;
}

.cooldown_box {
  position: absolute;
  left: 5px;
  width: calc(50% - 28px);
  display: none;
  border-style: solid;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

#use_fist.cooldown_box {
  display: inherit;
}

.cooldown_box.right {
  right: 5px;
  left: auto;
}

.cooldown_box:hover {
  text-decoration: underline;
}

.cooldown_box.disabled {
  border-color: lightgrey;
  color: grey;
}

.cooldown_box.disabled:hover {
  text-decoration: none;
}

.cooldown {
  overflow: hidden;
  height: 100%;
  width: 0%;
  background-color: lightgrey;
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
}

#set_off {
  position: relative;
  display: inherit;
  width: 80px;
  margin-top: 10px;
  float: right;
}

#defensebox {
  position: absolute;
  width: auto;
  display: none;
}

#defensebox.disabled {
  border-color: black;
  color: black;
}

#defensebox.disabled:hover {
  text-decoration: underline;
}